/*
	Palette di colori utilizzati
*/
:root {
	--neroSfondo: #141414;
	--neroSfondoSec: #444444;
	--rossoScuro: #5c1514;
	--rossoScuroSec: #af1d1a;
	--rossoScuroTer: #8b120f;
	--oro: #b09571;
	--bianco: #fffbf7;
}


/*
	Importazione dei font
*/
@font-face {
	font-family: 'ChuckNoon';
	src: url('./fonts/Chuck-Noon.ttf');
}

@font-face {
	font-family: 'Skorzhen-NCV';
	src: url('./fonts/Skorzhen-NCV.ttf');
}
