@import './base.css';

body {
	background-color: var(--neroSfondo);

	padding: 0;
	margin: 0;
}

a:link {
	color: white;
	text-decoration: none;
}

p, h1, h2, label, a {
	color: white;
}


/*	Relativo all'impostazione delle pagine (layout a colonne)	*/
* {
	box-sizing: border-box;
}


/*	Percentuali relative alle colonne	*/
.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


/* Layout a colonne per desktop */
@media only screen and (min-width: 768px) {
	[class*="col-"] {
		float: left;
		padding: 0 15px;
	}
}

/* Layout a colonne per smartphone */
@media only screen and (max-width: 768px) {
	[class*="col-"] {
		float: none;
		width: 100%;
		padding: 15px;
	}
}


.button {
	padding: 4px 10px;

	font-size: large;
	color: black;

	border-color: transparent;
	border-style: solid;
	border-radius: 15px;
}

.button:hover {
	cursor: pointer;
	background-color: var(--oro);
	color: white;
}